<div class="conteiner__big-card">
  <div class="big-card__photo">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2EAi2LWjcsP5festROGoDWT70_VicTt7bbg&usqp=CAU" alt="" height="200px" width="400px">
  </div>
  <div class="big-card__title">
    <h1>
      <a href="">Saiu nova versão do Angular</a>
    </h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, quaerat est? Quos cumque totam iure ea nihil! Nisi, rerum minima ab veritatis quos quis perspiciatis dolores, tenetur natus nobis ea.</a>
    </p>
  </div>
</div>